<p><strong>Kinnickinnic Off-Road Cyclists, Inc. </strong>
P.O. Box 354<br />
River Falls, WI 54022</p>

<a href="https://www.facebook.com/pages/Kinnickinnic-Off-Road-Cyclists-Inc/53066374926">
  <span class="fa fa-facebook-square fa-4x"></span>
</a>

<a href="https://twitter.com/KinniOffRoad">
  <span class="fa fa-twitter-square fa-4x"></span>
</a>

<a href="https://plus.google.com/105899113059184925194/about">
  <span class="fa fa-google-plus-square fa-4x"></span>
</a>