//Base
$border-radius-base:0;
$navbar-default-bg:rgba(0,0,0,1);
$mustard:#ecd902;
$navbar-default-link-color:$mustard;
$navbar-default-link-active-color:darken($mustard, 40%);
$navbar-default-link-active-bg:$mustard;

$roboto:'Roboto Slab', serif; 
//100, 300, 400, 700

.navbar-nav {
  font-family: $roboto;
  font-weight:400;
}

.navbar-header {
  h1 {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:20px;
    font-family: $roboto;
    font-weight:700;
    text-transform: uppercase;
    line-height: 50px;

    a {
      color:$mustard;
    }
  }
}

body {
  font-family: $roboto !important;
  font-weight:400;
  font-size:14px;
}


#top-image {
  // height:400px;
  background-color:rgba(0,0,0,.2);
}

#sidebar {
  margin-top:20px;
  a {
    color:$mustard;
    &:hover {color:lighten($mustard, 10%);}
  }
}


#content {
  min-height:80vh;
}

footer {
  min-height:20vh;
  background-color:darken($mustard, 5%);
  padding:40px 20px;
}
