//Base
$border-radius-base:0;
$navbar-default-bg:rgba(0,0,0,1);
$mustard:#fcb823;
$navbar-default-link-color:$mustard;
$navbar-default-link-active-color:darken($mustard, 40%);
$navbar-default-link-active-bg:$mustard;

$grid-float-breakpoint:992px;

$roboto:'Roboto Slab', serif; 
//100, 300, 400, 700

.navbar-nav {
  font-family: $roboto;
  font-weight:400;
}

.navbar-header {
  h1 {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:20px;
    font-family: $roboto;
    font-weight:700;
    text-transform: uppercase;
    line-height: 50px;

    a {
      color:$mustard;
    }
  }
  #brand {
    margin-top:-5px;
  }
}

body {
  font-family: $roboto !important;
  font-weight:400;
  font-size:14px;
}


#top-image {
  // height:400px;
  background-color:rgba(0,0,0,.2);
}

#sidebar {
  margin-top:20px;
  margin-bottom:80px;
  a {
    color:$mustard;
    &:hover {color:lighten($mustard, 10%);}
  }

}

#sb-fb, #sb-tw {
  margin-top:20px;
}


#content {
  min-height:80vh;
}

#content-home {
  min-height: 50vh;
}

#social-home {
  margin-bottom:80px;
}

#sponsors {
  // height:300px;
  // overflow:none;

  h3 {
    text-align:center;
    border-bottom:1px solid rgba(0,0,0,.1);
    padding-bottom:15px;
  }
  h4 {
    text-align:center;
  }
}

#sidebar {
  background-color:rgba(200,200,200,.1);
  padding:10px;
}

.twitter-timeline, .fb-page {
  width:100%;
}

footer {
  min-height:20vh;
  background-color:darken($mustard, 5%);
  padding:40px 20px;
}
