/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .twitter-timeline, .fb-page {
    width:100%;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #sidebar {
    text-align:center;
  }
  .twitter-timeline, .fb-page {
    width:80%;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .twitter-timeline, .fb-page {
    width:100%;
  }

}